[Unit]
Description=Announcer
After=network.target

[Service]
ExecStart=/usr/local/bin/printVulnerablePackages.sh &; disown
ExecStop=/usr/bin/kill -9 `cat /tmp/printVulnerablePackages.pid`
Type=forking
PIDFile=/tmp/printVulnerablePackages.pid

[Install]
WantedBy=default.target
